# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Android
mobile/android/.gradle
mobile/android/captures/
mobile/android/.idea
mobile/android/local.properties
mobile/android/key.properties
mobile/android/app/google-services.json
*.jks
*.keystore

# iOS
mobile/ios/.symlinks/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Pods/

# IDE
.idea/
*.iml
.vscode/settings.json

# OS
.DS_Store
Thumbs.db
